{% extends "base.html" %}

{% block content %}
<div style="width: 100%; padding-left: 2%; padding-right: 2%">
  <br>
  <legend class="normal-text"> Daftar Beberapa Buku yang Tidak Pernah Saya Baca<br><br></legend>
    <div class="form-group">
      <p id="info-fav" class="normal-text">Banyaknya buku favorit: {{ request.session.fav_book_count }}</p>
      <label class="col-form-label" for="inputDefault">Find Book by name</label>
      <div class="row">
        <div class="column" style="width: 80%; margin-left: 1%; margin-right: 1%">
          <input type="text" class="form-control" placeholder="Book Name" maxlength="300" id="book_name" name="book_name">
        </div>
        <div class="column" style="width: 17%">
          <button type="submit" class="btn" style="width: 100%" id="book_trigger">Find</button>
        </div>
      </div>
    </div>
  <div id='booktable'>
  </div>
  <form action="" method="POST">{% csrf_token %}
    <fieldset>
      <div class="form-group">
        <input type="hidden" class="form-control" maxlength="300" id="fav_changer" name="fav_changer">
      </div>
      <button type="submit" class="btn" id="fav_changer_submit">Add to Favorite</button>
    </fieldset>
  </form>
</div>
{% endblock %}

