{% extends "base.html" %}

{% block content %}
<div class="jumbotron align-items-center" style="width: 100%">
  <h1 class="display-3">Halo {{ user.first_name }}, apa kabar?</h1>
  <hr class="my-4">
  <p class="lead">
    <a id="fwpidnppwlab_button" class="btn btn-lg" href="http://fwpidnppwlab.herokuapp.com" role="button">Explore More</a>
  </p>
</div>

<div style="width: 100%; padding-left: 2%; padding-right: 2%">
  <table class="table table-hover">
    <thead>
      <tr bgcolor="#007bff" class="headrow">
        <th scope="col" style="width: 20%; text-align: center"><font color="white">Waktu Ditambahkan</font></th>
        <th scope="col" style="width: 80%; text-align: center"><font color="white">Status</font></th>
      </tr>
    </thead>
    <tbody>
      {% for data in datas%}
        {% if forloop.counter|divisibleby:2 %}
          <tr class="table-primary">
        {% else %}
          <tr class="table-secondary">
        {% endif %}
            <td class="time-data" style="width: 20%; text-align: center">{{ data.created_at }}</td>
            <td class="status-data" style="width: 80%; text-align: center">{{ data.status }}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if not datas %}
        <p style="text-align: center">No Schedule Found</p>
  {% endif %}
</div>
<div style="width: 100%; padding-left: 2%; padding-right: 2%">
  <form action="" method="POST">{% csrf_token %}
    <fieldset>
      <legend>Tambah Status Baru</legend>
      <div class="form-group">
        <label class="col-form-label" for="inputDefault">Status</label>
        <input type="text" class="form-control" placeholder="Kategori(Maksimal 300 karakter)" maxlength="300" id="status" name="status">
      </div>
      <button type="submit" class="btn" id="status_submit">Tambah Status</button>
    </fieldset>
  </form>
</div>
{% endblock %}

