{% extends "base.html" %}

{% block content %}
  <div class="jumbotron align-items-center" style="width: 100%">
  <h1 class="display-3" style="text-align: center">Halo!</h1>
  <img id="fwp-pic" src="https://media.licdn.com/dms/image/C5603AQFQAfVMchgMvw/profile-displayphoto-shrink_200_200/0?e=1544659200&v=beta&t=buKPdQjY0lvXuOo3O6IYyie6wzMP9OHZge67GkSNjYg" style="display: block; margin-left: auto; margin-right: auto; border-radius: 50%; border-width: 5px; border-color: #007bff; border-style: solid">
  <p id="introduction" class="lead" style="text-align: center">Nama saya Febriananda Wida Pramudita, seorang mahasiswa Fasilkom UI angkatan 2017</p>
  <hr class="my-4">
</div>
<div id="accordion"  style="width: 100%">
  <h3>Aktivitas</h3>
  <div>
    <ul>
        <li>Makan</li>
        <li>Tidur</li>
        <li>Nugas</li>
    </ul>
  </div>
  <h3>Organization</h3>
  <div>
    <ul>
      <li>Junior Member of RISTEK NetSOS SIG</li>
      <li>IA-TOKI</li>
    </ul>
  </div>
  <h3>Commitee</h3>
  <div>
    <ul>
        <li>Ketua Kontingen OSN Jawa Tengah 2018</li>
        <li>Juri dan Scientific Commitee OSN 2018</li>
        <li>Staff Compfest X Competitive Programming Compfest</li>
        <li>Problem setter Compfest X Capture The Flag(1 soal reversing, 5 soal binary exploit, 1 soal cryptografi, 1 soal web)</li>
    </ul>
  </div>
  <h3>Prestasi</h3>
  <div>
    <p>
        Menjadi orang terganteng sedunia.
    </p>
  </div>
</div>
<div style="width: 100%; padding-left: 2%; padding-right: 2%">
{% endblock %}

