{% extends "base.html" %}

{% block content %}
<div style="width: 100%; padding-left: 2%; padding-right: 2%">
  <div class="jumbotron align-items-center" style="width: 100%">
    <h2 class="display-3">Sadly, sekali anda register anda akan otomatis subscribe. Pikir baik-baik sebelum register</h2>
    <hr class="my-4">
  </div>
  <form id="registerAsSubscriber" action="/register_as_subscriber/" method="POST">{% csrf_token %}
    <fieldset>
      <div class="form-group">
        <label for="inputName1">Nama</label>
        <input type="text" class="form-control" id="inputName1" name="inputName1" placeholder="Masukkan nama, maksimal 300 karakter" maxlength="300">
      </div>
      <div class="form-group">
        <label for="inputEmail1">Alamat Email</label>
        <input type="email" class="form-control" id="inputEmail1" name="inputEmail1" placeholder="Masukan Email" maxlength="255">
      </div>
      <div class="form-group">
        <label for="inputPassword1">Password</label>
        <input type="password" class="form-control" id="inputPassword1" name="inputPassword1" placeholder="Password" maxlength="300">
      </div>
      <button type="submit" class="btn btn-primary" id="register_as_subscriber">Register as Subscriber</button>
    </fieldset>
  </form>
</div>
{% endblock %}

