{% extends "base.html" %}

{% block content %}
<div style="width: 100%; padding-left: 2%; padding-right: 2%">
  <p></p>
  <legend class="normal-text">Daftar Subscriber Laman ini<br><br></legend>
  <div id='subscriberstable'>
  </div>
</div>

<div class="modal fade" id="unsubscribeModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="unsubscribeheader"></h4>
      </div>
      <div style="padding: 5%">
        <form id="unsubscribeForm" action="/unsubscribe/" method="POST">{% csrf_token %}
          <fieldset>
            <div class="form-group">
              <input type="hidden" class="form-control" id="hiddenid" name="hiddenid">
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
              <label for="inputPasswordUnsubscribe">Masukkan Password untuk konfirmasi</label>
              <input type="password" class="form-control" id="inputPasswordUnsubscribe" name="inputPasswordUnsubscribe" placeholder="Masukkan Password anda" maxlength="300">
            </div>
            <button type="submit" class="btn btn-primary" id="confirm_unsubscribe">Confirm Unsubscribe</button>
            <button type="submit" class="btn btn-primary" id="close_modal" data-dismiss="modal" style="display: none">Close this modal</button>
          </fieldset>
        </form>
      </div>
    </div>
    
  </div>
</div>
{% endblock %}

