{% extends "base.html" %}

{% block content %}
<div style="margin-left:45%">
    <br>
    <a href="{% url 'social:begin' 'google-oauth2' %}"><img src="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-512.png" style="width: 25%"></a><br>
    <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}