{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/static/lab_6/lab_6.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="shortcut icon" href="http://fwpidnppwlab.herokuapp.com/static/lab_1/favicon.ico">

<style>
.loader {
  display: flex;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>

<html>
<head>
  <title>Website dedicated to Fata Nugraha</title>
</head>
<body id="body_element">
<div class="loader"></div>
<div class="main_element" style="display: none">
<nav class="navbar navbar-expand-lg navbar-dark" style = "border-bottom: 3px solid rgba(255,255,255,1);">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/" id="nav_home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile/" id="nav_profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/book/" id="nav_book">Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/subscribe/" id="nav_subscribe">Subscribe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/subscribers/" id="nav_subscribers">Subscribers</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#" id="subscriber_label">Subscriber Count: 0</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        {% if user.first_name %}
        <li class="nav-item">
          <a class="nav-link" href="#" id="user_first_name"> Login sebagai {{ user.first_name }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/oauth/logout_user/" id="oauth_logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/oauth/login/" id="oauth_login">Anda belum masuk, Login?</a>
        </li>
        {% endif %}
      </ul>
    </form>
  </div>
</nav>
<div class="row">
{% block content %}{% endblock %}
<div style="margin-left:45%">
  <button id="themeChanger" class="btn">Change Theme</button>
</div>
</div>
</div>
</body>
</html>
